@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>Last Name</div>
            </th>
            <th>
                <div>First Name</div>
            </th>
            <th>
                <div>Address</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
             
            </tr>
        }
    </tbody>
</table>
